body {
    width: 100%;
    height: 100%;
    margin: 0px auto;
}

p,ul {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#header {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #CCCCFF;
    margin: 0px auto;
}

#header p {
    margin: 0px auto;
    padding-top: 15px;
    font-size: 30px;
}

#menu {
    width: 100%;
    height: 30px;
    background-color: #9999FF;
    margin-top: 0PX;
}

ul.navClass {
    background-color: #9999FF;
}

ul.navClass>li {
    list-style-type: node;
    display: inline-block;
    width: 100px;
    height: 20px;
    position: relative;
    padding: 5px 20px;
    text-align: center;
}

ul.submenu {
    position: absolute;
    color: red;
    background-color: #9999FF;
    visibility: hidden;
    padding: 0px;
    left: 0px;
    width: 150px;
    top: 30px;
}

ul.submenu>li {
    list-style-type: none;
    margin: 0px auto;
    text-align: left;
    position: relative;
    width: 140px;
    height: 20px;
    padding: 5px;
}

ul.navClass>li:hover ul.submenu {
    visibility: visible;
}

li:hover {
    background-color: #2E5CB8;
}

a,a:hover.a:active {
    text-decoration: none;
    color: white;
}

#output {
    width: 100%;
    margin: 0px auto;
    height: 400px;
    text-align: center;
}

#footer {
    width: 100%;
    margin: 0px auto;
    height: 40px;
    position: absolute;
    left: 0;
    bottom: 0px;
    text-align: center;
    background-color: #CCCCFF;
}