version: '3'

services:

  #--SERVER--#
  webserver:
    image: 8.0
    container_name: auto_server
    volumes:
      - .:/var/www/html
    links:
      - db
    ports:
      - 8080:80

  #--DATABASE--#
  db:
    image: mysql:latest
    container_name: auto_db
    ports:
      - 3306:3306
    restart: always
    volumes: 
      - db_data:/var/lib/mysql/
    environment: 
      MYSQL_ROOT_PASSWORD: auto_pass
      MYSQL_DATABASE: auto
      MYSQL_USER: auto
      MYSQL_PASSWORD: auto_pass